@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<MainComp></MainComp>

<button @onclick="Callback">Trigger the exception!</button>

@code {
    private void Callback()
    {
        Navigation.NavigateTo(Navigation.GetUriWithQueryParameter("numTwo", 2));
    }
}